/*  ==========================================================  
    Mobile First (มือถือ)
    ==========================================================  */
p {
    font-size: 14px;       /* มือถือ */
    line-height: 1.6;
}

/*  ==========================================================  
    Table ขึ้นไป
    ==========================================================  */
@media (min-width: 768px) {
    p {
        font-size: 16px;    /* แท็บเล็ต */
    }
}

/*  ==========================================================  
    Desktop ขึ้นไป
    ==========================================================  */
@media (min-width:  1024px) {
    p {
        font-size: 18px; /* คอมพิวเตอร์ */
    }
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}